<h2>Add Category</h2>
<form action="/categories/add" method="post">
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input
      type="text"
      name="category"
      id="category"
      class="form-control"
      autofocus
    />
  </div>
  <button type="submit" class="btn btn-success float-end">Add Category</button>
</form>