  <div class="prose mx-auto">
    <h1>Add Category</h1>
    <form action="/categories/add" method="post">
      <div>
        <label for="category" class="label">Category</label>
        <input type="text" name="category" id="category" class="input input-bordered w-full" placeholder="Category" autofocus />
      </div>
      <button type="submit" class="btn mt-4">Add Category</button>
    </form>
  </div>