<div class="prose mx-auto">
  <a href="/categories"><button class="btn mb-4">Back</button></a>
  <h1>Update Category</h1>
  <form action="/categories/edit/{{data.id}}" method="post">
    <div class="form-control">
      <label for="category" class="label"><span class="label-text">Category</span></label>
      <input
        type="text"
        name="category"
        id="category"
        class="input input-bordered w-full"
        placeholder="Category"
        value="{{data.category}}"
        autofocus
      />
    </div>
    <button type="submit" class="btn btn-success mt-4">Update</button>
  </form>
</div>