<div class="prose mx-auto">
  <a href="/posts"><button class="btn btn-neutral mb-4">Back</button></a>
  <h1>Create Post</h1>
  <form action="/posts/add" method="post" enctype="multipart/form-data">
    <div class="form-control">
      <label for="featuredImage" class="label">
        <span class="label-text mr-4">Image</span>
        <input type="file" name="featuredImage" id="featuredImage" class="file-input" />
      </label>
    </div>
    <div class="form-control">
      <label for="title" class="label">
        <span class="label-text">Title</span>
      </label>
      <input type="text" id="title" name="title" placeholder="Title" class="input input-bordered w-full" />
    </div>
    <div class="form-control">
      <label for="body" class="label">
        <span class="label-text">Body</span>
      </label>
      <textarea name="body" id="body" rows="6" placeholder="Body" class="textarea textarea-bordered w-full"></textarea>
    </div>
    <div class="flex items-center gap-2">
      <div class="basis-1/2">
        {{#if categories}}
          <div class="form-control text-">
            <label for="category" class="label"><span class="label-text">Category</span>
              <select name="categoryId" id="category" class="select select-sm ml-2">
                {{#each categories}}
                  <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </label>
          </div>
        {{else}}
          <span>No Categories available</span>
        {{/if}}
      </div>
      <div class="form-control basis-1/2">
        <label for="published" class="label"><span class="label-text">Published</span>
          <input type="checkbox" role="switch" name="published" id="published" class="checkbox" />
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-4">Create</button>
  </form>
</div>