<div class="flex flex-wrap justify-center gap-4">
	{{#if successMessage}}
		<div>
			<strong>Success:</strong> {{successMessage}}
		</div>
		<div>
			<a href="/login">
				&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;
			</a>
		</div>
	{{else}}
		{{#if errorMessage}}
			<div>
				<strong>Error:</strong> {{errorMessage}}
			</div>
		{{/if}}
		<div class="prose">
			<h1>Register</h1>
			<form action="/register" method="post">
				<div>
					<div class="flex flex-wrap justify-between gap-4">
						<div>
							<label for="userName" class="label">Username</label>
							<input type="text" name="userName" id="userName" placeholder="Username" {{#if
								userName}}value="{{userName}}" {{/if}} class="input input-bordered" required />
						</div>
						<div>
							<label for="email" class="label">Email</label>
							<input type="email" name="email" id="email" placeholder="Email address"
								class="input input-bordered">
						</div>
					</div>
					<div class="flex flex-wrap justify-between gap-4 mt-4">
						<div>
							<label for="password" class="label">Password</label>
							<input type="password" name="password" id="password" placeholder="Password"
								class="input input-bordered">
						</div>
						<div>
							<label for="password2" class="label">Confirm Password</label>
							<input type="password2" name="password2" id="password2" placeholder="Confirm password"
								class="input input-bordered">
						</div>
					</div>
				</div>
				<button type="submit" class="btn mt-4">Register</button>
			</form>
		</div>
	{{/if}}
</div>